@font-face {
	font-family: 'Circe';
	src: url(/fonts/Circe-Regular.eot?13bbfad0e7f851273f3cf30569c7eb3a);
	src: local('Circe'), local('Circe-Regular'),
		url(/fonts/Circe-Regular.eot?13bbfad0e7f851273f3cf30569c7eb3a?#iefix) format('embedded-opentype'),
		url(/fonts/Circe-Regular.woff?b3583e41e063203a7e743d708b1bf47e) format('woff'),
		url(/fonts/Circe-Regular.ttf?814e4dd4329ffdb6c9ed90c49299d4aa) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url(/fonts/Circe-ExtraLight.eot?0f3ca43ce4ca34c99c00feaf7d1cff64);
	src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
		url(/fonts/Circe-ExtraLight.eot?0f3ca43ce4ca34c99c00feaf7d1cff64?#iefix) format('embedded-opentype'),
		url(/fonts/Circe-ExtraLight.woff?27c9b3b45aa9e134e9d17dc144a0bfac) format('woff'),
		url(/fonts/Circe-ExtraLight.ttf?d95151f8b96ed97a96811cc21e636de4) format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url(/fonts/Circe-Thin.eot?00bb023a19a35602c7face64d5e4c6b3);
	src: local('Circe Thin'), local('Circe-Thin'),
		url(/fonts/Circe-Thin.eot?00bb023a19a35602c7face64d5e4c6b3?#iefix) format('embedded-opentype'),
		url(/fonts/Circe-Thin.woff?1f69b3e567fba63f038e4f4813cad5e6) format('woff'),
		url(/fonts/Circe-Thin.ttf?4272af7797a43baa082078abd1353503) format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url(/fonts/Circe-Light.eot?e4ca0f7a178447eed594331d33a3ac5d);
	src: local('Circe Light'), local('Circe-Light'),
		url(/fonts/Circe-Light.eot?e4ca0f7a178447eed594331d33a3ac5d?#iefix) format('embedded-opentype'),
		url(/fonts/Circe-Light.woff?0a23696bc00e1131f4348a56c9da28ad) format('woff'),
		url(/fonts/Circe-Light.ttf?61755338a0e56c46dab8b0132e4d2f3b) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url(/fonts/Circe-Bold.eot?23b8280ab15052d5ba11eeb37bfebdd8);
	src: local('Circe Bold'), local('Circe-Bold'),
		url(/fonts/Circe-Bold.eot?23b8280ab15052d5ba11eeb37bfebdd8?#iefix) format('embedded-opentype'),
		url(/fonts/Circe-Bold.woff?8a1c4d2d35cdd2d6704b0b9fa4485655) format('woff'),
		url(/fonts/Circe-Bold.ttf?63396ee791f60623acbfa96b07ab9724) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url(/fonts/Circe-ExtraBold.eot?4c74fd73e7d5ee9eee7d072f6a8c084a);
	src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
		url(/fonts/Circe-ExtraBold.eot?4c74fd73e7d5ee9eee7d072f6a8c084a?#iefix) format('embedded-opentype'),
		url(/fonts/Circe-ExtraBold.woff?02f7b8cbfff901e3f58862d5fbbaed25) format('woff'),
		url(/fonts/Circe-ExtraBold.ttf?87e2d898df4f6a61b4b855a53aeafaa2) format('truetype');
	font-weight: 800;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.body {
  background: #f3f7ff;
  font-family: Circe;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.mobile__container {
  width: 35px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  height: 30px;
  position: relative;
  display: none;
  z-index: 99;
}
.mobile__container .hamburger__menu .item {
  display: block;
  position: relative;
  background: #6b50b8;
  width: 90%;
  height: 4px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  top: 13px;
  left: 2px;
}
.mobile__container .hamburger__menu .item::after,
.mobile__container .hamburger__menu .item::before {
  content: "";
  display: block;
  position: absolute;
  background: #6b50b8;
  width: 100%;
  height: 4px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.mobile__container .hamburger__menu .item::after {
  top: 8px;
}
.mobile__container .hamburger__menu .item::before {
  top: -8px;
}
.mobile__container .hamburger__menu .item__rotate {
  background: transparent;
}
.mobile__container .hamburger__menu .item__rotate::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}
.mobile__container .hamburger__menu .item__rotate::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

#navbar {
  height: 72px;
}
#navbar nav {
  width: 100%;
  background: #f3f7ff;
  height: 72px;
  top: 0;
  z-index: 99;
}
#navbar nav .show {
  height: 100vh !important;
  overflow-y: auto;
}
#navbar nav .grid__nav {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
}
#navbar nav .grid__nav .item {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#navbar nav .grid__nav .item a {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #20262d;
  position: relative;
}
#navbar nav .grid__nav .item a:after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 0%;
  top: 25px;
  border-radius: 50px;
  width: 9px;
  height: 9px;
  background: #f9000c;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
#navbar nav .grid__nav .item a:hover:after {
  opacity: 1;
  left: 50%;
}
#navbar nav .grid__nav .item:last-child {
  margin-right: 0;
}

#header {
  padding-bottom: 123px;
  position: relative;
}
#header .header__grid .first__item {
  padding-top: 113px;
}
#header .header__grid .first__item h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  color: #20262d;
  margin-top: 25px;
  margin-bottom: 30px;
}
#header .header__grid .first__item a {
  width: 194px;
  height: 53px;
  background: #f9000c;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#header .header__grid .first__item a:hover {
  background: #6b50b8;
}
#header .header__grid .second__item {
  position: absolute;
  top: 51px;
  right: 118px;
  z-index: -1;
}

#technologi {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 563px) 1fr;
  grid-template-columns: minmax(auto, 563px) 1fr;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  min-height: 451px;
}
#technologi .title__item {
  padding-top: 108px;
  padding-left: 24px;
}
#technologi .title__item img {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 3px;
}
#technologi .title__item h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 46px;
  color: #000000;
  margin-bottom: 30px;
}
#technologi .title__item p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  max-width: 435px;
}
#technologi .numbers__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 329px) minmax(auto, 329px);
  grid-template-columns: minmax(auto, 329px) minmax(auto, 329px);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding-top: 86px;
}
#technologi .numbers__item div .number {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: #02d3ba;
  opacity: 0.4;
  margin-bottom: 17px;
  text-align: left;
}
#technologi .numbers__item div .text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  margin: 0;
}

#about {
  padding-top: 120px;
}
#about .hands {
  position: absolute;
  right: 0;
  margin-top: -26px;
  z-index: -1;
}
#about .about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #20262d;
  max-width: 742px;
  margin-bottom: 74px;
}
#about .about__norif {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
  max-width: 786px;
}
#about .about__norif a {
  color: #02d3ba;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: color 0s !important;
  -o-transition: color 0s !important;
  transition: color 0s !important;
}
#about .about__norif a::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #02d3ba;
  position: absolute;
  left: 0;
  bottom: 3px;
}
#about .about__norif a:hover {
  color: #f9000c;
}
#about .about__norif a:hover::after {
  background: #f9000c;
}
#about .about__presents {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about .about__presents svg {
  margin-right: 20px;
  fill: #6b50b8;
}
#about .about__presents p {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.2em;
  color: #6b50b8;
  margin-bottom: 0;
  -webkit-transition: color 0s !important;
  -o-transition: color 0s !important;
  transition: color 0s !important;
}
#about .about__presents p::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #6b50b8;
  position: absolute;
  left: 0;
  bottom: 3px;
}
#about .about__presents:hover p {
  color: #f9000c;
}
#about .about__presents:hover p::after {
  background: #f9000c;
}
#about .about__presents:hover svg {
  fill: #f9000c;
}

#news {
  overflow: hidden;
  margin-top: 108px;
  background: #eef2fc;
  padding-bottom: 80px;
}
#news h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 46px;
  color: #000000;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 20px;
}
#news .swiper__block {
  margin-right: calc(-0.5 * (100vw - 1312px));
  cursor: -webkit-grab;
  cursor: grab;
}
#news .swiper-slide {
  width: 347px !important;
}
#news .card__slider {
  background: #eef2fc;
  min-height: 480px;
  max-width: 347px;
  min-width: 347px;
}
#news .card__slider .img__block {
  border-radius: 10px 10px 0 0;
  height: 187px;
  overflow: hidden;
}
#news .card__slider .img__block img {
  width: 100%;
}
#news .card__slider .text__block {
  padding: 0 15px 0 15px;
}
#news .card__slider .text__block .title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 20px;
  margin: 0;
  padding-top: 10px;
}
#news .card__slider .text__block .pretitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
#news .card__slider .text__block .news__btn {
  width: 105px;
  height: 38px;
  background: #20262d;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 20px;
}
#news .card__slider .text__block .news__btn:hover {
  background: #f9000c;
}

#teams {
  margin-top: 60px;
}
#teams h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 46px;
  color: #000000;
  margin-bottom: 40px;
}
#teams .team__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  -ms-grid-rows: 420px;
  grid-template-rows: 420px;
  row-gap: 40px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
#teams .team__grid .title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 13px;
  margin-top: 13px;
}
#teams .team__grid .pretitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  margin: 0;
}

#federal {
  margin: 124px 0 0 0;
}
#federal .federal__grid {
  position: relative;
}
#federal .federal__grid .arrow {
  z-index: 99;
  cursor: pointer;
}
#federal .federal__grid .arrow svg {
  fill: #20262d;
}
#federal .federal__grid .arrow:hover svg {
  fill: #f9000c;
}
#federal h5 {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 46px;
  color: #000000;
  margin-bottom: 63px;
}
#federal .green {
  background: #02d3ba;
}
#federal .fiol {
  background: #6b50b8;
}
#federal .slick-slide {
  padding: 0 12px;
}
#federal .slick-list {
  max-width: 1225px;
  margin: 0 auto;
}
#federal .slick-prev,
#federal .slick-next {
  width: 0;
  height: 0;
  top: 44%;
  z-index: 99;
}
#federal .slick-disabled .arrow {
  opacity: 0.2;
  cursor: no-drop;
}
#federal .slick-prev {
  left: -5px;
}
#federal .slick-next {
  right: 32px;
}
#federal .slick-prev:before,
#federal .slick-next:before {
  display: none;
}
#federal .federal__card {
  border-radius: 10px;
  padding: 60px;
}
#federal .federal__card .title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 30px;
}
#federal .federal__card .adress {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 0;
}
#federal .federal__card .date {
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
}
#federal .federal__card .btn__federal {
  width: 128px;
  height: 38px;
  background: #20262d;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 30px;
}
#federal .federal__card .btn__federal:hover {
  background: #f9000c;
}

#partners {
  margin-top: 113px;
  background: #eef2fc;
  padding: 60px 0 60px 0;
}
#partners .partners__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#partners .partners__grid .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#partners .partners__grid .item a img {
  width: 100%;
  max-width: 255px;
}

footer {
  padding: 60px 0 60px 0;
  background: #6b50b8;
}
footer h5 {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 46px;
  color: #ffffff;
  margin-bottom: 60px;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .social div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}
footer .social div img {
  margin-right: 10px;
}
footer .social div a {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  color: #ffffff;
}

.sponsor {
  background: #20262d;
  height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sponsor p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 0;
}
.sponsor p a {
  color: #ffffff;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 872px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1090px;
  }
}
@media (min-width: 1290px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1312px;
  }
}
@media screen and (max-width: 1295px) {
  #header .header__grid .second__item {
    right: 0;
  }
}
@media screen and (max-width: 1200px) {
  #technologi {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #technologi .title__item {
    padding-left: 0;
  }
  #technologi .title__item p {
    max-width: 100%;
  }
  #technologi .title__item img {
    width: 100%;
    max-width: 557px;
    left: 0;
  }
  #technologi .numbers__item {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #about .hands {
    opacity: 0.3;
  }

  #news .swiper__block {
    margin-right: 0;
  }

  footer .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .social div:first-child {
    margin-bottom: 20px;
  }
  footer .social div a {
    word-break: break-all;
  }
}
@media screen and (max-width: 870px) {
  .container {
    padding: 0 30px;
    margin: 0 auto;
  }

  .first__item img {
    width: 100%;
    max-width: 426px;
  }
}
@media screen and (max-width: 992px) {
  #teams .team__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #teams .team__grid .team__item {
    text-align: center;
  }
  #teams .team__grid .team__item img {
    width: 100%;
  }

  .mobile__container {
    top: 36px;
    position: relative;
    display: block;
  }

  #header .header__grid .second__item {
    opacity: 0.4;
  }

  #technologi .title__item {
    padding-left: 0;
  }
  #technologi .numbers__item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .outnavbar {
    top: 0 !important;
    position: fixed;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  #navbar {
    height: 0;
    top: -800px;
    position: fixed;
    width: 100%;
    z-index: 98;
  }
  #navbar nav {
    height: 0;
  }
  #navbar nav .grid__nav {
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #eef2fc;
  }
  #navbar nav .grid__nav .item {
    margin-right: 0;
  }
  #navbar nav .grid__nav .item a {
    font-size: 28px;
    line-height: normal;
  }
  #navbar nav .grid__nav .item a:after {
    top: 35px;
  }
}
